* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
}

:root {
  --light-gray: hsl(0, 0%, 95%);
  --tran-white: hsla(0, 0%, 100%, 0.75);
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
}

body {
  background-color: var(--light-gray);
}

section {
  width: 100%;
  min-height: calc(100vh - 100px);
  height: auto;
  display: grid;
  place-items: center;
}

section .container {
  max-width: 900px;
  min-width: 300px;
  margin: 55px 20px;
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
}

section .container .card {
  min-width: 300px;
  text-align: left;
  flex: 1 1 300px;
  padding: 25px 40px;
}

section .container .card img {
  margin: 20px 0px 15px;
}

section .container .card h1 {
  margin: 15px 0px 20px;
  color: var(--light-gray);
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Big Shoulders Display", cursive;
}

section .container .card p {
  margin: 20px 0px 50px;
  max-width: 250px;
  line-height: 25px;
  color: var(--tran-white);
}

section .container .card button {
  margin: 50px 0px 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 50px;
}

@media (min-width: 450px) {
  section .container .card {
    text-align: center;
  }

  section .container .card p {
    margin: 20px auto 50px;
  }
}

@media (min-width: 960px) {
  section .container .card {
    text-align: left;
  }

  section .container .card p {
    margin: 20px 0px 50px;
  }
}

section .container .card:nth-child(1) {
  background-color: var(--bright-orange);
}
section .container .card:nth-child(1) button {
  color: var(--bright-orange);
}
section .container .card:nth-child(2) {
  background-color: var(--dark-cyan);
}
section .container .card:nth-child(2) button {
  color: var(--dark-cyan);
}
section .container .card:nth-child(3) {
  background-color: var(--very-dark-cyan);
}
section .container .card:nth-child(3) button {
  color: var(--very-dark-cyan);
}

.attribution {
  font-size: 12px;
  text-align: center;
  margin-top: 30px;
  padding: 15px 5px;
  color: var(--dark-gray);
}
.attribution a {
  color: hsl(228, 49%, 38%);
  font-size: 12px;
  text-decoration: none;
}

/* Loader style start here */

#loader {
  display: inline-block;
  border: 2px solid var(--white);
  border-radius: 100%;
  border-top: 2px solid hsla(228, 45%, 44%, 0.652);
  border-left: 2px solid hsla(228, 45%, 44%, 0.652);
  width: 20px;
  height: 20px;
  margin: 0px auto;
  -webkit-animation: spin 0.7s linear infinite; /* Safari */
  animation: spin 0.7s linear infinite;
  z-index: 1;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    border-left: 1px solid hsla(228, 45%, 44%, 0.652);
  }
  100% {
    -webkit-transform: rotate(360deg);
    border-left: 0px solid hsla(228, 45%, 44%, 0.652);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    border-left: 1px solid hsla(228, 45%, 44%, 0.652);
  }
  100% {
    transform: rotate(360deg);
    border-left: 0px solid hsla(228, 45%, 44%, 0.652);
  }
}

/* Loader style ends here */
